.app {
  text-align: center;
}

.app-headerContainer {
  height: 68px;
}

.app-linearProgress {
  top: 64px;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.app-bookList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 750px;
  margin: auto;
}

.app-searchLabelContainer {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  height: calc(100vh - 68px);
}