.app {
  text-align: center;
}

.app-headerContainer {
  height: 68px;
}

.app-linearProgress {
  top: 64px;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.app-bookList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 750px;
  margin: auto;
}
